<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Printify homework" parallel="methods" thread-count="3">
    <test name="Product API tests">
        <classes>
            <class name="printify.tests.ProductTest"/>
        </classes>
    </test>
</suite>